{% extends "djcrud/base.html" %}
{% load crispy_forms_tags %}

{% partialdef content %}
<div class="box">
    <div class="level mb-4">
        <div class="level-left">
            <h2 class="title is-4">
                {% if view.icon %}<i class="bi bi-{{ view.icon }}"></i>{% endif %}
                {{ view.title }}
            </h2>
        </div>
    </div>
    <form method="post"
          up-target="body"
          up-history="false"
          {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {{ form|crispy }}

        <div class="field is-grouped is-grouped-right mt-4">
            <p class="control">
                <button type="submit" class="button is-primary">
                    <i class="bi bi-box-arrow-in-right"></i> Login
                </button>
            </p>
        </div>
    </form>
</div>
{% endpartialdef %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-8-tablet is-6-desktop">
        {% partial content %}
    </div>
</div>
{% endblock %}
