{% extends "djcrud/base.html" %}
{% load crispy_forms_tags %}

{% partialdef content %}
<div class="box" up-main="modal">
    <div class="level mb-4">
        <div class="level-left">
            <h2 class="title is-4">
                {% if view.icon %}<i class="bi bi-{{ view.icon }}"></i>{% endif %}
                {{ view.title }}
            </h2>
        </div>
    </div>
    {% block confirm_message %}
    <div class="notification is-info">
        <i class="bi bi-question-circle"></i>
        Are you sure you want to log out?
    </div>
    {% endblock %}

    <form method="post" up-target="body" up-history="false">
        {% csrf_token %}
        {{ form|crispy }}

        {% block confirm_form_content %}
        {% endblock %}
        {% block confirm_buttons %}
        <div class="field is-grouped is-grouped-right mt-4">
            <p class="control">
                <button type="button" class="button" up-dismiss>Cancel</button>
            </p>
            <p class="control">
                <button type="submit" class="button is-warning">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </button>
            </p>
        </div>
        {% endblock %}
    </form>
</div>
{% endpartialdef %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-8-tablet is-6-desktop">
        {% partial content %}
    </div>
</div>
{% endblock %}
