{% extends "djcrud/form.html" %}

{% block title %}
{% if view.icon %}<span class="icon{% if view.color %} has-text-{{ view.color }}{% endif %}"><i class="bi bi-{{ view.icon }}"></i></span>{% endif %}
{{ view.title }}
{% endblock %}

{% block before_form %}
{% block confirm_message %}
<div class="notification is-{{ view.color|default:'warning' }} is-light">
    Are you sure you want to delete <strong>{{ object }}</strong>?
    This action cannot be undone.
</div>
{% endblock %}
{% endblock %}

{% block form_fields %}
{% block confirm_form_content %}{% endblock %}
{% endblock %}

{% block submit_button_content %}
{% block confirm_button_content %}
{% if view.icon %}<span class="icon"><i class="bi bi-{{ view.icon }}"></i></span>{% endif %}
<span>Delete</span>
{% endblock %}
{% endblock %}
